.a{
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 50px;
}
.b{
    font-size: 19px;
    font-family: 'Nunito';
    
     
}
*{
    padding: 8px;
    
    box-sizing: border-box;
   
    
    
}
table, tr,th, td{
    border: 2px solid black; 
    border-collapse: collapse;
    padding: 8px;
}
th{
    background-color: orange;
}

}
.d{
    font-family: 'Nunito';
    font size: 15px;
}
body{
    margin: 15px;
}
.container{
    background-color: wheat;
    border-radius: 10px;
}
input, textarea{
    width: 100%;
    padding: 12px;
}
input[type="submit"]{
    width: 100px;
    background-color: rgb(17, 250, 17);
    border-radius: 10px;
}
.left{
    width: 60px;
}
nav{
    background-color: black;
    padding: 20px;
    font-family: 'Nutino';
    font-size: 15px;
}
a{
    font-family: 'Nutino';
    color:white;
    padding: 30px;

}
.left1{
    width: 50px
    
}